* {
  box-sizing: border-box;
}

body {
  width: 320px;
  height: 563px;
  font-family: "Inter", sans-serif;
}

.page-wrapper {
  max-width: 320px;
  margin: auto;
  border-radius: 90px 90px 20px 20px;
  box-shadow: 0px 0px 30.1px 19px rgba(0, 0, 0, 0.25);
  background: rgb(242, 240, 240);
}

.container {
  min-width: 300px;
  margin: auto;
}

.header {
  padding-top: 12px;
  width: 100%;
  color: rgb(255, 255, 255);
  background-color: #ccc;
  object-fit: fill;
  background: url('../img/header_bg.png') no-repeat center  / cover ;
  border-radius: 90px 90px 0px 0px;
}

.hello {
  padding-left: 62px;
  font-size: 20px;
  font-weight: 700;
  width: 83px;
  height: 13px;
  font-family: "Inter", sans-serif; 
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.hello-text {
  padding: 5px 129px 56px 16px;
  margin: auto;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  white-space: nowrap;
}

.user {
  position: absolute;
  margin-top: -15px;
  width: 300px;
  height: 100px;
  left: 10px;
  top: 125px;
  text-align: center;
  border-radius: 10px;
  padding-bottom: 20px;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.25);
  background: #ffffff;
}

.user-avatar {
  position: absolute;
  margin-top: -125px;
  object-fit: cover;
  width: 76px;
  height: 76px;
  left: 120px;
  top: 72px;
  box-sizing: border-box;
  border: 2px solid #fffefe;
  border-radius: 50%;
  overflow: hidden;
}

.user-name {
margin-top: 8px;
margin-bottom: 4px;
color: rgb(0, 0, 0);
font-family: "Inter", sans-serif;
font-size: 20px;
font-weight: bold;
line-height: 23px;
letter-spacing: 0%;
text-align: center;
}

.user-descption {
  font-size: 20px;
  font-weight: 500;
  line-height: 15px;
  color: #6a6a6a;
}
